      <tr>
        <% Product.each do |a| %>
            <% cache(a) do %> 
            <td><%= product.name %></td>
            <% end %>
            <% cache(a) do %> 
            <td><%= product.description %></td>
            <% end %>
            <% cache(a) do %> 
            <td><%= product.image_url %></td>
            <% end %>
            <% cache(a) do %> 
            <td><%= product.colour %></td>
            <% end %>
            <% cache(a) do %> 
            <td><%= product.price %></td>
            <% end %>
            <td><%= link_to 'Show', product %></td>
            <td><%= link_to 'Edit', edit_product_path(product) %></td>
            <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
        <% end %>
      </tr>