<p id="notice"><%= notice %></p>

<h1 class="text-center">Our Products</h1>
<hr>
<!-- <table class="item-center">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Color</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% cache(cache_key_for_products) do %>
      <% @products.each do |p| %>
        <% cache(p) do %>
          <%= render partial: 'product', object: p %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
<br> -->

<table class="item-center">
  <tbody>
    <% cache(cache_key_for_products) do %>
      <% @products.each do |p| %>
        <% cache(p) do %>
          <div class="row">
            <%= render partial: 'product', object: p %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>

<% if can? :manage, @product %>
  <%= link_to 'New Product', new_product_path %>
  <%= link_to 'Edit', edit_products_path %> |
<% end %>