<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row">
  <h3 class="product-name"><%= @product.name %></h3>
    <div class="col-lg-4 col-md-4">
      <a href="#" class="thumbnail">
        <%= image_tag(@product.image_url) %>
      </a>
      <ul class="feature-list">
        <li><strong>Color:</strong><%= @product.colour %></li>

        <li><strong>Price:</strong><%= @product.price %></li>
      </ul>
    </div>



    <div class="col-lg-6 col-md-6">
      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>
      <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
    </div>
  </div>
</div>

<%= render 'new_comment' %> 

<%= render 'comments' %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
