<!DOCTYPE html>
<html>
<head>
  <title>Testapp</title>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">


  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>  

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <header>
    <div class="upper-header">
      <div class="container-fluid">
        <div class="row upper-row">
          <span class="upper-headline col-lg-10">Everything's 50% off! Free shipping for orders above $50</span>
<!--           <span class="pull-right">| 0 items</span> -->
          <ul class="pull-right" style="list-style:none;">
            <li>
              <% if user_signed_in? %>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                <% else %>
              <%= link_to('Login', new_user_session_path) %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="middle-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4">
            <%= link_to image_tag("templogo.jpg", :class => "logo"), root_path %> 
            <span>An eCommerce website</span>
          </div>
          <div class="motto col-lg-8">
              <p>Quality means doing it right when no one is looking.</p>
              <p>- Henry Ford</p>
          </div>
        </div>
      </div>
    </div>
    <div class="lower-header">
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><%= link_to 'About', static_pages_about_path %></li>
              <li><%= link_to 'Products', products_path %></li>
              <li><%= link_to 'FAQ',static_pages_faq_path %></li>
              <li><%= link_to 'Contact', static_pages_contact_path %></li>
            </ul>
            <!-- Search bar Form -->
            <%= form_tag("/products", method: "get", class: "search-bar") do %>
              <%= label_tag(:q, "Search for:") %>
              <%= text_field_tag(:q) %>
              <%= submit_tag("Search") %>
              <% end %>
          </div>
        </div><!-- end nav container -->
      </nav><!-- navbar ends here -->
      <!-- devise login notices -->
      <% if notice %>
      <p class="notice alert-warning"><%= notice %></p>
      <% end %>
      <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </div>
  </header>

  <%= yield %>

  <footer>
    <ul>
      <li><%= link_to 'Home', static_pages_landing_page_path %></li> |
      <li><%= link_to 'Products', products_path %></li> |
      <li><%= link_to 'About', static_pages_about_path %></li> |
      <li><%= link_to 'FAQ',static_pages_faq_path %></li> |
      <li><%= link_to 'Contact', static_pages_contact_path %></li>
    </ul>
    <span>© 2015 steve chen</span>
  </footer>
</div>

</body>
</html>
